* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

:root {
    --color-primary: #000000;      
    --color-secondary: #FFFFFF;    
    --color-accent: #E81F28;       
    --color-highlight-bg: #1A1A1A; 


    --sidebar-width: 250px;
    --topbar-height: 100px;
}

/***** KEYFRAMES *****/ 

@keyframes topbarLoadIn {
    0% {
        transform: translateY(-300px);
        opacity: 0;
    } 100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes contactTextLoadIn {
    0% {
        transform: translateX(300px);
        opacity: 0;
    } 100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes contactTextLoadIn {
    0% {
        transform: translateX(0px);
        opacity: 0;
    } 100% {
        transform: translateX(300);
        opacity: 1;
    }
}

/***** End KEYFRAMES *****/

body {
    background-color: var(--color-primary);
    color: var(--color-secondary);

    min-height: 100vh;

    display: flex;
    flex-direction: column;
}

.page-container {
    display: flex;
    flex-grow: 1;
    padding-top: var(--topbar-height);
}

main {
    flex-grow: 1;
    padding: 20px;
    margin-left: var(--sidebar-width);
}

#page-container {
    opacity: 0;
    transition: opacity 0.5s ease;
}

.placeholder-link {
    text-decoration: none;
    color: var(--color-secondary);
}

.icon-container {
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 32px;

    height: 36px;
    width: 36px;
}

.components-loaded #page-container {
    opacity: 1;
}

/***** TOPBAR *****/ 

.topbar {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: var(--topbar-height);

    background-color: var(--color-highlight-bg);
    border-bottom: 2px solid var(--color-accent);

    z-index: 1000;

    animation: topbarLoadIn 1s ease-in-out forwards;
}

.topbar .topbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: 0 auto;
    padding: 0 24px;
    height: 100%;
}

.topbar .hero-content .text {
    font-size: 1.5rem;
    font-weight: 100;

    color: var(--color-secondary);

    letter-spacing: 2px;
}

.topbar .contact-container {
    display: flex;
    justify-content: center;
    align-items: center;

    width: auto;
    height: auto;
}

.topbar .contact-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 24px;

    font-size: 24px;

    position: relative;
}

.topbar .contact-content .text {
    opacity: 0;
    
    position: absolute;
    right: 48px;

    white-space: nowrap;
}

.topbar .contact-content .text.show {
    animation: contactTextLoadIn 0.5s ease-out forwards;
}

.topbar .icon:hover {
    cursor: pointer;
}

/***** End TOPBAR *****/
