<div class="index">
    <span class="hero-container">
        <div class="hero-content">
            <div class="hero-text">
                <h3>Welcome to my Digital Portfolio</h3>
            </div>
            <div class="hero-subtext">
                <h4>
                    Welcome to my portfolio. I specialize in **front-end development** 
                    and creating clean, highly usable websites that emphasize **performance and accessibility**.
                </h4>
                <h4>My passion is translating design ideas into robust, responsive code. </h4>
            </div>
        </div>
        <img src="/assets/images/mikko.jpg" alt="hero-image" class="hero-image">
    </span>
    <span class="section">
        <div class="section-content">

        </div>
    </span>
    <span class="section">
        <div class="section-content">
            
        </div>
    </span>
</div>