<span class="hero-container">
    <div class="hero-content">
        <div class="hero-text">
            <h1>Welcome to my Digital Portfolio</h1>
        </div>
        <div class="hero-subtext">
            <h2>
                Welcome to my portfolio. I specialize in **front-end development** 
                and creating clean, highly usable websites that emphasize **performance and accessibility**.
            </h2>
            <h2>My passion is translating design ideas into robust, responsive code. </h2>
        </div>
    </div>
    <img src="" alt="hero-image" class="hero-image">
</span>