<div class="index">
    <span class="hero-container">
        <div class="hero-content">
            <div class="hero-text">
                <h3>Welcome to my Digital Portfolio</h3>
            </div>
            <div class="hero-subtext">
                <h4>
                    Welcome to my portfolio. I specialize in **front-end development** 
                    and creating clean, highly usable websites that emphasize **performance and accessibility**.
                </h4>

                <br>

                <h4>
                    My passion is translating design ideas into robust, responsive code.
                </h4>
            </div>
        </div>
        <img src="/portfolio/assets/images/mikko.jpg" alt="hero-image" class="hero-image">
    </span>

    <span class="section section-page-links">

        <!-- ========== Page Links ========== -->
        
        <div class="section-content page-links">
            <div class="section-group">
                <i class="icon fas fa-address-card"></i>
                <a href="/portfolio/pages/about.html">Learn more about me!</a>
            </div>

            <div class="section-group">
                <i class="icon fas fa-code"></i>
                <a href="/portfolio/pages/projects.html">
                    Learn about my projects!
                    <div class="bottom-border"></div>
                </a>
            </div>
        </div>
        
        <!-- ========== Page Links ========== -->

    </span>
</div>