<div class="navbar">
    <div class="nav-hero-container">
            <div class="hamburger icon" id="hamburger">
                <i class="fas fa-chevron-left" id="hamburger-icon"></i>
            </div>
            <div class="hero-text">
                <p>SMG</p>
            </div>
            <div class="logo icon">
                <i class="fas fa-book"></i>
            </div>
    </div>
    <div class="nav-contact-info">
        <div class="contact-icon icon">
            <i class="fas fa-envelope"></i>
        </div>
        <div class="contact-text">
            <a href="/pages/contact.html">Contact Me!</a>
        </div>
    </div>
</div>

<script src="/portfolio/script/scripts.js"></script>