<!--
<div class="sidebar">
    <h2>Portfolio Menu</h2>
    <nav class="sidebar-nav">
        <a href="/portfolio/index.html" id="link-index">
            <i class="fas fa-home"></i>
            <span>Home</span>
        </a>
        <a href="#projects.html" id="link-projects">
            <i class="fas fa-code"></i>
            <span>Projects</span>
        </a>
        <a href="/portfolio/pages/about.html" id="link-about">
            <i class="fas fa-address-card"></i>
            <span>About Me</span>
        </a>
        <a href="#resume.html" id="link-resume">
            <i class="fas fa-file-pdf"></i>
            <span>Resume</span>
        </a>
    </nav>
</div>
-->

<!--Debugging True-->
<div class="sidebar">
    <h2>Portfolio Menu</h2>
    <nav class="sidebar-nav">
        <a href="/index.html" id="link-index">
            <i class="fas fa-home"></i>
            <span>Home</span>
        </a>
        <a href="#projects.html" id="link-projects">
            <i class="fas fa-code"></i>
            <span>Projects</span>
        </a>
        <a href="/pages/about.html" id="link-about">
            <i class="fas fa-address-card"></i>
            <span>About Me</span>
        </a>
        <a href="#resume.html" id="link-resume">
            <i class="fas fa-file-pdf"></i>
            <span>Resume</span>
        </a>
    </nav>
</div>

<script src="scripts/scripts.js"></script>