<!--
<div class="sidebar">
    <h2>Portfolio Menu</h2>
    <nav class="sidebar-nav">
        <a href="/portfolio/index.html" id="link-index">
            <i class="fas fa-home"></i>
            <span>Home</span>
        </a>
        <a href="#projects.html" id="link-projects">
            <i class="fas fa-code"></i>
            <span>Projects</span>
        </a>
        <a href="/portfolio/pages/about.html" id="link-about">
            <i class="fas fa-address-card"></i>
            <span>About Me</span>
        </a>
        <a href="#resume.html" id="link-resume">
            <i class="fas fa-file-pdf"></i>
            <span>Resume</span>
        </a>
    </nav>
</div>
-->

<!--Debugging True-->
<div class="sidebar" >
    <div class="hero-text">
        <h2>Menu</h2>
        <div class="icon">
            <i class="fas fa-file-pdf"></i>
        </div>
    </div>
    <div class="sidebar-nav">
        <div class="nav-group" id="link-index">
            <a href="/portfolio/index.html" class="link">
                <div class="icon">
                    <i class="fas fa-home"></i>
                </div>
                <div class="text">
                    <p>Home</p>
                </div>
            </a>
        </div>
        <div class="nav-group" id="link-prototype">
            <a href="" class="link">
                <div class="icon">
                    <i class="fas fa-code"></i>
                </div>
                <div class="text">
                    <p>Prototypes</p>
                </div>
            </a>
        </div>
        <div class="nav-group" id="link-about">
            <a href="/portfolio/pages/about.html" class="link">
                <div class="icon">
                    <i class="fas fa-address-card"></i>
                </div>
                <div class="text">
                    <p>About Me</p>
                </div>
            </a>
        </div>
    </div>
</div>