<div class="sidebar" >
    <div class="hero-text">
        <h2>Menu</h2>
        <div class="icon">
            <i class="fas fa-file-pdf"></i>
        </div>
    </div>
    <div class="sidebar-nav">
        <div class="nav-group" id="link-index">
            <a href="/portfolio/index.html" class="link">
                <div class="icon">
                    <i class="fas fa-home"></i>
                </div>
                <div class="text">
                    <p>Home</p>
                </div>
            </a>
        </div>
        <div class="nav-group" id="link-prototype">
            <a href="" class="link">
                <div class="icon">
                    <i class="fas fa-code"></i>
                </div>
                <div class="text">
                    <p>Prototypes</p>
                </div>
            </a>
        </div>
        <div class="nav-group" id="link-about">
            <a href="/portfolio/pages/about.html" class="link">
                <div class="icon">
                    <i class="fas fa-address-card"></i>
                </div>
                <div class="text">
                    <p>About Me</p>
                </div>
            </a>
        </div>
    </div>
</div>