<div class="topbar">
    <div class="topbar-container">

        <div class="icon-container">
            <div class="icon-content">
                <i class="fas fa-bars" id="menu-toggle"></i>
            </div>
        </div>

        <div class="hero-container">
            <div class="hero-content">
                <div class="text" id="topbar-hero-text">
                    SMG
                </div>
            </div>
        </div>

        <div class="contact-container">
            <div class="contact-content">
                <div class="icon-container">
                    <i class="fas fa-envelope"></i>
                </div>
                <div class="text">Contact Me!</div>
            </div>
        </div>
        
    </div>
</div>