<div class="topbar">
    <div class="topbar-container">

        <div class="icon-container">
            <div class="icon-content">
                <i class="fas fa-bars icon" id="hamburger"></i>
            </div>
        </div>

        <div class="hero-container">
            <div class="hero-content">
                <div class="text" id="topbar-hero-text">
                    Shon Mikhael Gesulgon
                </div>
            </div>
        </div>

        <div class="contact-container">
            <div class="contact-content">
                <div class="text" id="contact-me">
                    <a href="/portfolio/contact.html" class="placeholder-link">
                        Contact Me!
                    </a>
                </div>
                <div class="icon-container" id="contact-icon">
                    <i class="fas fa-envelope icon"></i>
                </div>
            </div>
        </div>

    </div>
</div>